In [1]:
# finished.jsonの読み込み
import json
json_open = open("finished.json", "r")
json_load = json.load(json_open)
print(len(json_load))
print(json_load[1])

219
{'company_name': '伊藤忠テクノソリューションズ株式会社', 'company_code': '4739.T', 'category_original': 'IT', 'category_new': 'IT', 'value': [['2001-01', '0'], ['2001-02', '0'], ['2001-03', '0'], ['2001-04', '0'], ['2001-05', '0'], ['2001-06', '0'], ['2001-07', '0'], ['2001-08', '0'], ['2001-09', '0'], ['2001-10', '0'], ['2001-11', '0'], ['2001-12', '0'], ['2002-01', '0'], ['2002-02', '0'], ['2002-03', '0'], ['2002-04', '0'], ['2002-05', '0'], ['2002-06', '0'], ['2002-07', '0'], ['2002-08', '0'], ['2002-09', '0'], ['2002-10', '0'], ['2002-11', '0'], ['2002-12', '0'], ['2003-01', '0'], ['2003-02', '0'], ['2003-03', '0'], ['2003-04', '0'], ['2003-05', '0'], ['2003-06', '0'], ['2003-07', '0'], ['2003-08', '0'], ['2003-09', '0'], ['2003-10', '0'], ['2003-11', '0'], ['2003-12', '0'], ['2004-01', '0'], ['2004-02', '0'], ['2004-03', '0'], ['2004-04', '0'], ['2004-05', '0'], ['2004-06', '0'], ['2004-07', '0'], ['2004-08', '0'], ['2004-09', '0'], ['2004-10', '0'], ['2004-11', '0'], ['2004-12', '0'], ['2005-01', '0'], ['2005-02', '0'], ['2005-03', '0'], ['2005-04', '0'], ['2005-05', '0'], ['2005-06', '0'], ['2005-07', '0'], ['2005-08', '0'], ['2005-09', '0'], ['2005-10', '0'], ['2005-11', '0'], ['2005-12', '0'], ['2006-01', '0'], ['2006-02', '0'], ['2006-03', '2.35'], ['2006-04', '2.36'], ['2006-05', '2.62'], ['2006-06', '2.67'], ['2006-07', '2.61'], ['2006-08', '2.88'], ['2006-09', '3.04'], ['2006-10', '3.32'], ['2006-11', '3.54'], ['2006-12', '3.21'], ['2007-01', '3.1'], ['2007-02', '2.91'], ['2007-03', '2.87'], ['2007-04', '2.78'], ['2007-05', '2.6'], ['2007-06', '2.46'], ['2007-07', '2.2'], ['2007-08', '2.31'], ['2007-09', '2.06'], ['2007-10', '2.08'], ['2007-11', '2.01'], ['2007-12', '1.91'], ['2008-01', '1.55'], ['2008-02', '1.49'], ['2008-03', '1.53'], ['2008-04', '1.66'], ['2008-05', '1.96'], ['2008-06', '1.96'], ['2008-07', '1.96'], ['2008-08', '1.96'], ['2008-09', '1.96'], ['2008-10', '1.96'], ['2008-11', '1.96'], ['2008-12', '1.96'], ['2009-01', '1.96'], ['2009-02', '1.96'], ['2009-03', '1.15'], ['2009-04', '1.26'], ['2009-05', '1.39'], ['2009-06', '1.62'], ['2009-07', '1.61'], ['2009-08', '1.55'], ['2009-09', '1.56'], ['2009-10', '1.42'], ['2009-11', '1.34'], ['2009-12', '1.41'], ['2010-01', '1.55'], ['2010-02', '1.6'], ['2010-03', '1.73'], ['2010-04', '2.01'], ['2010-05', '1.89'], ['2010-06', '1.84'], ['2010-07', '1.78'], ['2010-08', '1.55'], ['2010-09', '1.54'], ['2010-10', '1.55'], ['2010-11', '1.7'], ['2010-12', '1.72'], ['2011-01', '1.61'], ['2011-02', '1.63'], ['2011-03', '1.52'], ['2011-04', '1.6'], ['2011-05', '1.55'], ['2011-06', '1.52'], ['2011-07', '1.62'], ['2011-08', '1.75'], ['2011-09', '1.86'], ['2011-10', '1.82'], ['2011-11', '1.77'], ['2011-12', '1.84'], ['2012-01', '1.88'], ['2012-02', '1.93'], ['2012-03', '2.04'], ['2012-04', '2.01'], ['2012-05', '2.0'], ['2012-06', '2.12'], ['2012-07', '2.17'], ['2012-08', '2.3'], ['2012-09', '2.18'], ['2012-10', '2.21'], ['2012-11', '2.03'], ['2012-12', '1.91'], ['2013-01', '2.13'], ['2013-02', '2.17'], ['2013-03', '2.53'], ['2013-04', '2.43'], ['2013-05', '2.28'], ['2013-06', '2.15'], ['2013-07', '2.04'], ['2013-08', '1.75'], ['2013-09', '1.83'], ['2013-10', '2.02'], ['2013-11', '1.97'], ['2013-12', '2.14'], ['2014-01', '2.14'], ['2014-02', '2.37'], ['2014-03', '2.26'], ['2014-04', '2.21'], ['2014-05', '2.18'], ['2014-06', '2.29'], ['2014-07', '2.42'], ['2014-08', '2.4'], ['2014-09', '2.39'], ['2014-10', '2.3'], ['2014-11', '2.41'], ['2014-12', '2.22'], ['2015-01', '2.19'], ['2015-02', '2.44'], ['2015-03', '2.54'], ['2015-04', '2.79'], ['2015-05', '3.0'], ['2015-06', '3.11'], ['2015-07', '2.95'], ['2015-08', '2.72'], ['2015-09', '2.6'], ['2015-10', '2.71'], ['2015-11', '2.59'], ['2015-12', '2.47'], ['2016-01', '1.97'], ['2016-02', '2.3'], ['2016-03', '2.17'], ['2016-04', '2.2'], ['2016-05', '2.51'], ['2016-06', '2.24'], ['2016-07', '2.53'], ['2016-08', '2.57'], ['2016-09', '2.64'], ['2016-10', '2.64'], ['2016-11', '3.14'], ['2016-12', '3.1'], ['2017-01', '3.1'], ['2017-02', '3.11'], ['2017-03', '3.33'], ['2017-04', '3.31'], ['2017-05', '3.85'], ['2017-06', '4.01'], ['2017-07', '3.92'], ['2017-08', '4.17'], ['2017-09', '4.28'], ['2017-10', '4.49'], ['2017-11', '4.82'], ['2017-12', '4.99'], ['2018-01', '4.88'], ['2018-02', '4.48'], ['2018-03', '4.54'], ['2018-04', '4.63'], ['2018-05', '4.03'], ['2018-06', '3.9'], ['2018-07', '4.33'], ['2018-08', '5.02'], ['2018-09', '5.04'], ['2018-10', '4.36'], ['2018-11', '4.46'], ['2018-12', '4.33'], ['2019-01', '4.61'], ['2019-02', '5.34'], ['2019-03', '5.27'], ['2019-04', '5.54'], ['2019-05', '5.49'], ['2019-06', '5.63'], ['2019-07', '5.73'], ['2019-08', '5.97'], ['2019-09', '5.83'], ['2019-10', '5.96'], ['2019-11', '5.96'], ['2019-12', '6.27'], ['2020-01', '6.61'], ['2020-02', '6.1'], ['2020-03', '6.14'], ['2020-04', '6.72'], ['2020-05', '7.42'], ['2020-06', '8.23'], ['2020-07', '8.71'], ['2020-08', '8.02'], ['2020-09', '8.1'], ['2020-10', '7.34'], ['2020-11', '7.55'], ['2020-12', '7.56'], ['2021-01', '7.56'], ['2021-02', '7.15'], ['2021-03', '7.04'], ['2021-04', '7.38'], ['2021-05', '7.32'], ['2021-06', '6.9'], ['2021-07', '6.98'], ['2021-08', '7.02'], ['2021-09', '7.79'], ['2021-10', '7.32'], ['2021-11', '7.69'], ['2021-12', '7.92']]}

In [2]:
import pandas as pd

info = pd.read_csv("./final_product/data/chartmode_data.csv")
info.head()

,Unnamed: 0,順位,株式コード,資本金,提出者名,業種,提出者業種,残業時間,有休消化率,待遇面の満足度,...,人材の長期育成,法令遵守意識,人事評価の適正感,時価総額,従業員数(単独),従業員数,平均年齢,平均年収,設立年,上場年
0,0,0,7203.T,635401.0,トヨタ自動車株式会社,機械系,輸送用機器,27.0,87.8,4.2,...,4.0,4.9,3.2,251.66,None,372434,40.0,8580,1937,1949
1,1,1,6861.T,30637.0,株式会社キーエンス,機械系,電気機器,59.6,29.2,4.8,...,2.6,3.9,4.3,154.37,"2,607人",8380,35.8,17510,1974,1987
2,2,2,6758.T,880214.0,ソニーグループ株式会社,機械系,電気機器,34.9,61.0,4.1,...,3.0,4.6,3.8,154.06,"2,973人",109700,42.2,10440,1946,1958
3,3,3,6098.T,40000.0,株式会社リクルートホールディングス,サービス業,サービス業,36.8,57.3,4.1,...,3.1,4.0,4.1,105.30,138人,47786,38.7,9500,1963,2014
4,4,4,9432.T,937950.0,日本電信電話株式会社,IT,IT,20.8,92.3,3.3,...,3.2,4.9,3.0,97.00,None,332950,41.8,9300,1985,1987

In [3]:
for i in range(len(json_load)):
    for j in range(len(info)):
        if json_load[i]["company_name"] == info["提出者名"][j]:
            json_load[i]["capital"] = info["資本金"][j]
            json_load[i]["found_year"] = info["設立年"][j]
            json_load[i]["listed_year"] = info["上場年"][j]
            json_load[i]["num_of_employees"] = info["従業員数"][j]
            json_load[i]["overtime"] = info["残業時間"][j]
            json_load[i]["paid_holiday"] = info["有休消化率"][j]
            json_load[i]["income"] = info["平均年収"][j]
            json_load[i]["age"] = info["平均年齢"][j]

In [4]:
with open("test.json", "w") as f:
    json.dump(json_load, f , indent=4, ensure_ascii=False)