In [11]:
# finished.jsonの読み込み
import json
json_open = open("finished.json", "r")
json_load = json.load(json_open)
print(json_load[0])
print(len(json_load))

{'company_name': '株式会社オリエンタルランド', 'value': [['2006-03', '5.16'], ['2006-04', '5.13'], ['2006-05', '4.89'], ['2006-06', '4.74'], ['2006-07', '4.64'], ['2006-08', '4.82'], ['2006-09', '4.77'], ['2006-10', '4.78'], ['2006-11', '4.28'], ['2006-12', '4.27'], ['2007-01', '4.22'], ['2007-02', '4.82'], ['2007-03', '4.81'], ['2007-04', '4.7'], ['2007-05', '4.41'], ['2007-06', '4.37'], ['2007-07', '4.29'], ['2007-08', '4.69'], ['2007-09', '4.62'], ['2007-10', '4.65'], ['2007-11', '4.69'], ['2008-01', '4.5'], ['2008-02', '4.35'], ['2008-03', '4.21'], ['2008-04', '4.32'], ['2008-05', '4.38'], ['2008-06', '4.3'], ['2008-07', '4.56'], ['2008-08', '5.1'], ['2008-09', '5.43'], ['2008-10', '6.27'], ['2008-11', '6.71'], ['2008-12', '6.64'], ['2009-01', '6.76'], ['2009-02', '5.88'], ['2009-03', '4.92'], ['2009-04', '4.89'], ['2009-05', '4.8'], ['2009-06', '4.69'], ['2009-07', '4.61'], ['2009-08', '4.63'], ['2009-09', '4.73'], ['2009-10', '4.54'], ['2009-11', '4.67'], ['2009-12', '4.51'], ['2010-01', '4.85'], ['2010-02', '5.16'], ['2010-03', '5.14'], ['2010-04', '5.24'], ['2010-05', '6.08'], ['2010-06', '6.74'], ['2010-07', '6.25'], ['2010-08', '6.83'], ['2010-09', '6.69'], ['2010-10', '6.8'], ['2010-11', '6.74'], ['2010-12', '6.81'], ['2011-01', '6.66'], ['2011-02', '7.16'], ['2011-03', '5.53'], ['2011-04', '5.56'], ['2011-05', '5.85'], ['2011-06', '5.47'], ['2011-07', '6.1'], ['2011-08', '6.37'], ['2011-09', '7.42'], ['2011-10', '6.69'], ['2011-11', '7.22'], ['2011-12', '7.54'], ['2012-01', '7.49'], ['2012-02', '7.22'], ['2012-03', '7.53'], ['2012-04', '7.86'], ['2012-05', '8.26'], ['2012-06', '8.73'], ['2012-07', '9.6'], ['2012-08', '10.15'], ['2012-09', '9.69'], ['2012-10', '9.96'], ['2012-11', '9.4'], ['2012-12', '8.7'], ['2013-01', '9.3'], ['2013-02', '10.65'], ['2013-03', '11.99'], ['2013-04', '11.63'], ['2013-05', '9.88'], ['2013-06', '11.29'], ['2013-07', '11.59'], ['2013-08', '11.51'], ['2013-09', '11.61'], ['2013-10', '10.99'], ['2013-11', '10.24'], ['2013-12', '9.9'], ['2014-01', '10.58'], ['2014-02', '10.31'], ['2014-03', '10.49'], ['2014-04', '10.21'], ['2014-05', '11.58'], ['2014-06', '11.86'], ['2014-07', '13.31'], ['2014-08', '14.0'], ['2014-09', '14.12'], ['2014-10', '16.29'], ['2014-11', '16.63'], ['2014-12', '18.06'], ['2015-01', '20.11'], ['2015-02', '22.78'], ['2015-03', '26.47'], ['2015-04', '23.2'], ['2015-05', '22.33'], ['2015-06', '21.48'], ['2015-07', '21.93'], ['2015-08', '18.63'], ['2015-09', '18.7'], ['2015-10', '20.99'], ['2015-11', '20.36'], ['2015-12', '21.07'], ['2016-01', '22.18'], ['2016-02', '23.53'], ['2016-03', '23.68'], ['2016-04', '23.43'], ['2016-05', '22.33'], ['2016-06', '21.92'], ['2016-07', '21.2'], ['2016-08', '19.99'], ['2016-09', '20.44'], ['2016-10', '20.22'], ['2016-11', '20.59'], ['2016-12', '20.33'], ['2017-01', '19.23'], ['2017-02', '20.01'], ['2017-03', '20.04'], ['2017-04', '19.87'], ['2017-05', '21.67'], ['2017-06', '22.13'], ['2017-07', '22.96'], ['2017-08', '23.43'], ['2017-09', '24.11'], ['2017-10', '25.63'], ['2017-11', '28.05'], ['2017-12', '28.4'], ['2018-01', '29.44'], ['2018-02', '29.55'], ['2018-03', '30.91'], ['2018-04', '30.73'], ['2018-05', '32.72'], ['2018-06', '33.86'], ['2018-07', '34.74'], ['2018-08', '34.22'], ['2018-09', '33.51'], ['2018-10', '30.8'], ['2018-11', '32.53'], ['2018-12', '32.59'], ['2019-01', '33.09'], ['2019-02', '36.07'], ['2019-03', '37.65'], ['2019-04', '36.56'], ['2019-05', '40.52'], ['2019-07', '44.37'], ['2019-08', '48.91'], ['2019-09', '51.82'], ['2019-10', '48.73'], ['2019-11', '46.75'], ['2019-12', '45.41'], ['2020-01', '44.25'], ['2020-02', '37.9'], ['2020-03', '42.98'], ['2020-04', '43.73'], ['2020-05', '48.53'], ['2020-06', '44.78'], ['2020-07', '40.27'], ['2020-08', '38.27'], ['2020-09', '43.89'], ['2020-10', '45.05'], ['2020-11', '50.89'], ['2020-12', '50.33'], ['2021-01', '47.33'], ['2021-02', '51.52'], ['2021-03', '48.12'], ['2021-04', '44.48'], ['2021-05', '42.89'], ['2021-06', '45.62'], ['2021-07', '44.62'], ['2021-08', '46.91'], ['2021-09', '50.32'], ['2021-10', '51.85'], ['2021-11', '53.99'], ['2021-12', '53.22']]}
219

In [13]:
import pandas as pd
basic_info = pd.read_csv("./final_product/data/chartmode_data.csv")
basic_info.head()

,Unnamed: 0,順位,株式コード,資本金,提出者名,業種,提出者業種,残業時間,有休消化率,待遇面の満足度,...,人材の長期育成,法令遵守意識,人事評価の適正感,時価総額,従業員数(単独),従業員数,平均年齢,平均年収,設立年,上場年
0,0,0,7203.T,635401.0,トヨタ自動車株式会社,機械系,輸送用機器,27.0,87.8,4.2,...,4.0,4.9,3.2,251.66,None,372434,40.0,8580,1937,1949
1,1,1,6861.T,30637.0,株式会社キーエンス,機械系,電気機器,59.6,29.2,4.8,...,2.6,3.9,4.3,154.37,"2,607人",8380,35.8,17510,1974,1987
2,2,2,6758.T,880214.0,ソニーグループ株式会社,機械系,電気機器,34.9,61.0,4.1,...,3.0,4.6,3.8,154.06,"2,973人",109700,42.2,10440,1946,1958
3,3,3,6098.T,40000.0,株式会社リクルートホールディングス,サービス業,サービス業,36.8,57.3,4.1,...,3.1,4.0,4.1,105.30,138人,47786,38.7,9500,1963,2014
4,4,4,9432.T,937950.0,日本電信電話株式会社,IT,IT,20.8,92.3,3.3,...,3.2,4.9,3.0,97.00,None,332950,41.8,9300,1985,1987

In [14]:
for i in range(len(json_load)):
    name = json_load[i]["company_name"]
    for j in range(len(basic_info)):
        if basic_info["提出者名"][j] == name:
            json_load[i]["company_code"] = basic_info["株式コード"][j]
            json_load[i]["category_original"] = basic_info["提出者業種"][j]
            json_load[i]["category_new"] = basic_info["業種"][j]
            json_load[i]["capital"] = basic_info["資本金"][j]
            json_load[i]["found_year"] = basic_info["設立年"][j]
            json_load[i]["listed_year"] = basic_info["上場年"][j]
            json_load[i]["num_of_employees"] = basic_info["従業員数"][j]
            json_load[i]["overtime"] = basic_info["残業時間"][j]
            json_load[i]["paid_holiday"] = basic_info["有休消化率"][j]
            json_load[i]["income"] = basic_info["平均年収"][j]
            json_load[i]["age"] = basic_info["平均年齢"][j] 
            break